/* Links */

.miller-container a{
text-decoration: none;
color: #222;
}

/* Container */

.miller-container{
  position:relative;
  margin-top: 10px;
  
  &:after{
    content: '.';
    display:block;
    height:0;
    visibility: hidden;    
    clear:both;
  }
}


/* PlaceHolder Columns */

.miller--placeholder{  
  display: block;
}

.miller--placeholder--column{
  position:absolute;
  top: 0;
}

.miller--placeholder__background{
  background: #f3f3f4;
  margin:0 10px; /* Column Width */
  height:100%;
}

/* Columns */

.miller--column{
  float:left;
  width:33.333%;
  position:relative;
  z-index: 1;
  background: none;
}

/* Terms Selection */

.miller--terms--selection{
  display: none;
}


/* Terms Container */

.miller--terms--container{
  border: 1px #ccc solid;	
  height:100%;
	margin:0 10px;  /* Column Width */
	overflow:auto;
}


.js-focus{
  outline: 1px #000 dotted;
}



/* List */

.terms{
	list-style: none;
	margin: 0;
	padding: 0;

	li{
		margin: 0;		
    padding: 0;		
		border-bottom: 1px #b8bbbd solid;
		cursor: pointer;
		position:relative;
  }

  li > a{
    display: block;
    padding: 15px 10px;
    padding-right: 40px;
  }
  
  li:hover{
		background: lighten(#f3f3f4, 4%);
	}
	
	/* Active Taxonomy */
	
	.active, .active:hover{
		background: #37BFEF;

    .description{
      color: #fff;
    }		
	}
	
	/* Title */
	
	.title{
	  display:block;
	}
	
	/* Parent Taxonomy */
	
	.has-children{
  	.title{
  		font-weight: bold;
  	}
    .icon-arrow{
      display: block;
    }
  }
  
  
  /* Icons */
  
  .icon{
    position:absolute;
    width:20px;
    height:20px;
    right:10px;    
    top: 50%;
    margin-top:-10px;
    transition: all 0.2s ease-in;
  }
  
  .icon-arrow{
    background:url(../images/icons.png) 0 -20px no-repeat;
    display: none;
  }
  
  .icon-search{
    background:url(../images/icons.png) -20px 0 no-repeat;
    opacity:0;
    display:none\9; /* IE 8 Hack */
  }
  
  /* Active Taxonomy */
  
  .active .icon-arrow{
    opacity:0;
    display:none\9; /* IE 8 Hack */
  }
  
  .active .icon-search{
    opacity:1;
    display:block\9; /* IE 8 Hack */
  }
  
}



@media only screen and (max-width: 600px){

  @import "mobile";

}

/*********** BUTTON *************/
.main-top-menu {
  padding: 0;
  margin: 10px 0 0 0;
}
.main-top-menu li {
  display: block;
  float: left;
  list-style:none;
  margin: 0 5px;
}
.main-top-menu li a {
  /* This generators the gradient on top of the solid color */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255,255,255,.5)),
    color-stop(1, rgba(0,0,0,.1))
  );
  background-image: -moz-linear-gradient(
    center top,
    rgba(255,255,255,.5) 0%,
    rgba(0,0,0,.1) 100%
  );
  color: #f4f4f4; /* IE */
  color: rgba(255, 255, 255, 0.8);
  display: block; 
  font: bold 18px "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif;    
  outline:none;
  padding: 5px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);  
}
  .main-top-menu li a:active {
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0,rgba(255,255,255,.5)),
      color-stop(.1,rgba(255,255,255,.2)),
      color-stop(.85, rgba(0,0,0,.2)),
      color-stop(100, rgba(0,0,0,.4))
    );
    background-image: -moz-linear-gradient(
      center bottom,
      rgba(255,255,255,.5) 0%,
      rgba(255,255,255,.2) 10%,
      rgba(0,0,0,.2) 85%,
      rgba(0,0,0,.4) 100%
    );
  }
/* Dark Text */
.main-top-menu li a.dark {
  color: rgb(232, 232, 232);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

.blue {
  background: rgb(14, 37, 74);
  border: rgb(14, 37, 74) 1px solid
}
.blue:hover,.blue:focus {
  background-color: rgb(23, 52, 94)
}
 .ui-tooltip, .arrow:after {
background: black;
border: 2px solid white;
}
.ui-tooltip {
padding: 10px 20px;
color: white;
border-radius: 20px;
font-size: 0.9em;
box-shadow: 0 0 7px black;
}
.arrow {
width: 70px;
height: 16px;
overflow: hidden;
position: absolute;
left: 50%;
margin-left: -35px;
bottom: -16px;
}
.arrow.top {
top: -16px;
bottom: auto;
}
.arrow.left {
left: 20%;
}
.arrow:after {
content: "";
position: absolute;
left: 20px;
top: -20px;
width: 25px;
height: 25px;
box-shadow: 6px 5px 9px -9px black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
tranform: rotate(45deg);
}
.arrow.top:after {
bottom: -20px;
top: auto;
}
label, input { display:block; }
label {margin-top: 5px; margin-bottom: 2px;}
input,select {width: 90%;}
.ui-above-all {position:absolute; z-index:10000;}
.button-menu .ui-widget-content {
  border:0 !important;
}
.button-menu .ui-tabs {
  padding: 0 !important;
}
.button-menu .ui-tabs .ui-tabs-nav {
  padding:0 !important;
}
.button-menu .ui-widget-header {
  border:0 !important;
  background: none !important;
}
.button-menu .ui-tabs .ui-tabs-panel {
  padding: 0 !important;
}
.button-menu .ui-tabs-active {
  background: none repeat scroll 0% 0% #CE8424 !important;
}
.dialog-ui fieldset, .dialog-ui {
  padding: 2%;
}
.dialog-ui ul {
  padding: 0;
}
.dialog-ui li {
  text-decoration: none;
  list-style: none outside none;
  padding: 0;
  margin: 10px 0px;
  width: 100%;
}
.dialog-li label, .dialog-li input, .dialog-li select {
  width: 100%;
  margin: 0;
}
.dialog-li label {
  margin-bottom: 5px;
}
.dialog-ui li.date-options .dialog-ui span.date-options-end {
  display: none;
}

.date-options li label {
    display: block;
    width: auto !important;
    padding-left: 15px;
    text-indent: -15px;
}
.date-options li input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    display: inline;
}
.date-options span {
  width: 48%;
  float: left;
}
