{% if stripBodyHeader is not defined %}
<h1 class="page-header" id="title">
	{% block h1_title %}
	{% endblock %}
</h1>
{% else %} 
	{% block header %}{% endblock %}
{% endif %}	
{% block body %}{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>	
{% endblock %}
