<div class="text-center">
		<ul class="pagination">
			{% if page == 1 %}
			<li class="disabled">
				<span>
					<span aria-hidden="true">&laquo;</span>
				</span>
			</li>
			{% else %}
			<li>
				<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': page-1})) }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			{% endif %}
			{% for p in range(1, nbPages) %}
				<li{% if p == page %} class="active"{% endif %}>
					<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': p})) }}">{{ p }}</a>
				</li>
			{% endfor %}
			{% if page == nbPages %}
			<li class="disabled">
				<span>
					<span aria-hidden="true">&raquo;</span>
				</span>
			</li>
			{% else %}
			<li>
				<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': page+1})) }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			{% endif %}
		</ul>
	</div>
