{% if (firstResource|default(null)) != null %}
<div {% if firstResource.resource.type != 'video' %}style="display: none;"{% endif %} class="player">
	<video id="video_player" controls crossorigin>
		<!-- Video files -->
		{% if firstResource.resource.type == 'video' %}
		<source src="{{ asset(firstResource.resource.getResourcePath) }}">
		{% endif %}
	</video>
</div>
<div {% if firstResource.resource.type != 'audio' %}style="display: none;"{% endif %} class="player">
	<audio id="audio_player" controls>
		<!-- Audio files -->
		{% if firstResource.resource.type == 'audio' %}
		<source src="{{ asset(firstResource.resource.getResourcePath) }}">
		{% endif %}
	</audio>
</div>
<div class="image_player">
	
</div>
<div class="file_player">
	
</div>
{% else %}
<div style="display: none;" class="player">
	<video id="video_player" controls crossorigin>
	</video>
</div>
<div style="display: none;" class="player">
	<audio id="audio_player" controls>
	</audio>
</div>
<div class="image_player">
</div>
<div class="file_player">
</div>
{% endif %}
