{% if playingResource is not defined %}
	{% set playingResource = firstResource.resource|default(null) %}
{% endif %} 

<div id="players_container">
	{% if playingResource != null %}
	<div {% if playingResource.type != 'video' %}style="display: none;"{% endif %} id="video_player_container" class="player">
		<video id="video_player" controls crossorigin>
			<!-- Video files -->
			{% if playingResource.type == 'video' %}
			<source src="{{ asset(playingResource.getResourcePath) }}">
			{% endif %}
		</video>
	</div>
	<div {% if playingResource.type != 'audio' %}style="display: none;"{% endif %} class="player">
		<audio id="audio_player" controls>
			<!-- Audio files -->
			{% if playingResource.type == 'audio' %}
			<source src="{{ asset(playingResource.getResourcePath) }}">
			{% endif %}
		</audio>
	</div>
	<div {% if playingResource.type != 'image' %}style="display: none;"{% endif %} class="image_player text-center">
		<img style='width:100%;' {% if playingResource.type == 'image' %}src="{{ asset(playingResource.getResourcePath) }}"{% endif %}/>
	</div>
	<div {% if playingResource.type != 'text' and playingResource.type != 'application' and playingResource.type != 'pdf' %}style="display: none;"{% endif %} class="file_player text-center">
		<iframe {% if playingResource.type == 'text' or playingResource.type == 'application' or playingResource.type == 'pdf' %}src="{{ asset(playingResource.getResourcePath) }}"{% endif %} width="542" height="400" align="middle"></iframe>
	</div>
	{% else %}
	<div style="display: none;" class="player">
		<video id="video_player" controls crossorigin>
		</video>
	</div>
	<div style="display: none;" class="player">
		<audio id="audio_player" controls>
		</audio>
	</div>
	<div style="display: none;" class="image_player text-center">
		<img style='width:100%;' />
	</div>
	<div style="display: none;" class="file_player text-center">
		<iframe style="visibility:hidden;" width="542" height="400" align="middle"></iframe>
	</div>
	{% endif %}
</div>
