{% extends "::layout.html.twig" %}

{% block title %}
  Présentation - {{ parent() }}
{% endblock %}

{% block body %}
	<a id="search-test" class="btn btn-default">
		Add to caddy
	</a>
	<div id="indicator" class="loading_indicator"></div>
	<div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content container">
		</div>
	  </div>
	</div>
	
	<div id="resultats_recherche"></div>
{% endblock %}


