{% extends '::layout.html.twig' %}

{% block body %}
    <h4>
    	Welcome to the Virtual Mediations Builder homepage! <br/>
    	You can watch the introductive video. (on the right | below ) <br/>
    	Then you can sign up for free to create your own presentation. <br/>
    </h4>
{% endblock %}
