/* Space out content a bit */
body {
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
header {
	background-color: #F5F5F5;
	padding-top: 14px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e5e5e5;
}

.header {
	margin: auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {	
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 36px;
	text-align: center;
	margin: 0px 15px;
}

.top-search-form {
	float: left;
	width: 360px;
}

.search-input {
	font-size: 12px;
	height: 28px;
	padding: 4px 20px 4px 8px;
	margin-top: 3px;
}

.header-nav {
	float: left;
	padding: 0px 10px;
	margin: 0px;
}

.header-actions {
	float: right;
}

.header-nav {
	list-style: outside none none;
}

.header-nav-item {
	float:left;
}

.header-nav-link {
	display: block;
	padding: 4px 8px;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	color: #333;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		width: 980px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	padding: 14px 24px;
	font-size: 21px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
