/* Space out content a bit */
body {
	padding-bottom: 20px;
	font-family: 'Open Sans';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-right: 15px;
	padding-left: 15px;
}

/* Custom page header */
header {
	background-color: #F5F5F5;
	padding-top: 14px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e5e5e5;
}

.header {
	margin: auto;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {	
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 36px;
	text-align: center;
	margin: 0px 15px;
}

.top-search-form {
	float: left;
	width: 360px;
}

.search-input {
	font-size: 12px;
	height: 28px;
	padding: 4px 20px 4px 8px;
	margin-top: 3px;
}

.header-nav {
	float: left;
	padding: 0px 10px;
	margin: 0px;
}

.header-actions {
	float: right;
}

.header-nav {
	list-style: outside none none;
}

.header-nav-item {
	float:left;
}

.header-nav-link {
	display: block;
	padding: 4px 8px;
	font-size: 13px;
	font-weight: bold;
	line-height: 26px;
	color: #333;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
	.container {
		width: 980px;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}


.panel-heading .row, .list-group-item.row {
	padding: 0px 12px;
}

.list-group-item.row {
    background-color: #FFF;
    margin: 0px 0px -1px;
}

.list-group-item.row [class^="col-"] {
    box-sizing: border-box;
    height: 50px;
    padding: 6px;
    line-height: 38px;
    font-size: 16px;
}

.list-group-item.row [class^="col-"] a {
    color: black;
    display: inline-block;
    width: 100%;
}
.list-group-item.row [class^="col-"] a[type="button"] {
    display: inline;
    width: auto;
}
.list-group-item.row [class^="col-"] a:hover {
    text-decoration: none;    
}

.showAll {
	cursor: pointer;
}
.showAll.collapsed {
	color: #337AB7;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
