{% extends '::Backend/subPage.html.twig' %}

{% block body %}
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">				
				<div class="col-md-10">{{ 'table.title'|trans }}</div>				
				<div class="col-md-2 text-center">{{ 'table.action'|trans }}</div>
        	</div>
		</div>
	</div>
	
	{% include "VMBPresentationBundle:Topic:indexLinks.html.twig" with {'links': entities} %}
    
{% endblock %}
{% block script %}
	{{ parent() }}
	<script>
		var group_ids = [];
		{% for e in entities %}
			group_ids.push({{e.id}});
		{% endfor %}
		$.each(group_ids, function(i, v){		
			var c = $('#collapseListGroup'+v);
			c.on('shown.bs.collapse', function(){
				$('a[href="#collapseListGroup'+v+'"] > span').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom');
			});
			c.on('hidden.bs.collapse', function(){
				$('a[href="#collapseListGroup'+v+'"] > span').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right');			
			});
		});
	</script>
{% endblock %}