{% extends '::Backend/subPage.html.twig' %}

{% block body %}
    <div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">				
				<div class="col-md-10">Titre</div>				
				<div class="col-md-2 text-center">Action</div>
        	</div>
		</div>
	</div>
	
	{% include "VMBPresentationBundle:Topic:indexLinks.html.twig" with {'links': entities} %}
    
{% endblock %}
