{% extends "::Backend/subPage.html.twig" %}

{% block body %}

	<div class="alert alert-info" role="alert">
	  <strong>{{ 'message.title.warning'|trans }}</strong> : {{ 'message.presentation.copy'|trans({'%title%': entityTitle}) }}<br/>
	</div>

	<form method="post">
		<div class="btn-group">
		  <a href="{{ backButtonUrl }}" class="btn btn-default">Annuler</a>
		</div>
		<div class="btn-group">
			<input type="submit" class="btn btn-primary" value="Confirmer">
		</div>
	</form>
	<br/>
{% endblock %}
