<div id="presentation_player">
	<div style="display: none;" class="video_player player">
		<video id="video_player" controls crossorigin>
		</video>
	</div>
	
	<div style="display: none;" class="audio_player player">
		<audio id="audio_player" controls>
		</audio>
	</div>
	
	<div style="display: none;" class="image_player text-center">
		<a href="#" target="_blank">{{ "player.new_tab"|trans|desc('Display this file in a new tab') }}</a>
		<img style='width:100%;' />
	</div>
	
	<div style="display: none;" class="file_player text-center">
		<a href="#" target="_blank">{{ "player.new_tab"|trans|desc('Display this file in a new tab') }}</a>
		<iframe width="542" height="400" align="middle"></iframe>
	</div>
	
	<div id="annotations_container"></div>
</div>
